<!DOCTYPE html>
<html>
  <head>
    <title>Credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Credits</h1>
    <p>Esta práctica está hecha por Paula Otero</p>
   
  </body>
</html>
