<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
      <a href="/">Home</a>
      <a href="/author">Author</a>
      <a href="/credits">Credits</a>
      <a href="/quizzes">Quizzes</a>
  </nav>
  <body>
      <header>
          <h2>The Quiz Site</h2>
      </header>
    <h1>Quiz</h1>
    <p>Welcome to Quiz/p>
  </body>
</html>
